<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col-3"></div>
    <div class="col-6">
      <h3 class="mb-3">Projection Calculator</h3>

      <%= form_with url: "/calculate", method: :post, id: "calculate-form" do |form| %>
        <div class="input-group input-group-lg mb-3">
          <%= form.number_field :amount, class: "form-control", placeholder: "Amount to project" %>
          <span class="input-group-text">$</span>
        </div>

        <%= form.submit "calculate", id: "submit-btn", class: "btn btn-primary btn-lg" %>
        <%= button_tag "Generate CSV", id: "print-csv-button", class: "btn btn-success btn-lg",
                                        data: {
                                          btc_data: {symbol: btc_data[:symbol], price: btc_data[:price_usd]},
                                          eth_data: {symbol: eth_data[:symbol], price: eth_data[:price_usd]},
                                        } %>
      <% end %>

      <div class="alert alert-info mt-3" role="alert">
        Monthly interest BTC <%= (CalculateProjectionService::BTC_INSTEREST_PERCENTAGE * 100).to_i %>% Y
        ETH <%= (CalculateProjectionService::ETH_INSTEREST_PERCENTAGE * 100).to_i %>%
      </div>

      <% if btc_data[:error].present? %>
        <div class="alert alert-danger" role="alert">
          Error when request btc: <%= btc_data[:error] %>
        </div>
      <% end %>

      <% if eth_data[:error].present? %>
        <div class="alert alert-danger" role="alert">
          Error when request eth: <%= eth_data[:error] %>
        </div>
      <% end %>

      <div class="card mt-3">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Month</th>
                <th scope="col">
                  <img src="https://cdn.svgporn.com/logos/bitcoin.svg" width="20" height="20" />
                  <%= btc_data[:symbol] %> -
                  <%= btc_data[:price_usd] %> USD
                </th>
                <th scope="col">
                  <img src="https://cdn.svgporn.com/logos/ethereum.svg" width="20" height="20" />
                  <%= eth_data[:symbol] %> -
                  <%= eth_data[:price_usd] %> USD
                </th>
              </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<%= javascript_include_tag "calculate.js" %>
